.board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  margin: 64px auto;
  width: 600px;
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.board.completed {
  border: unset;
}

.box {
  text-align: center;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  cursor: pointer;
  position: relative;
  background-size: 600px 600px;
  background-repeat: no-repeat;
}

.box::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.box:hover::after {
  background-color: rgba(0, 0, 0, 0.5);
}

.box.active::after {
  background-color: rgba(0, 0, 0, 0.75);
}

.box.completed {
  border: unset;
  cursor: auto;
}

.box.completed::after {
  background-color: unset;
}

.box.completed:hover::after {
  background-color: unset;
}

@media only screen and (max-width: 525px) {
  .board {
    width: calc(100vw - 32px);
    grid-template-columns: repeat(3, calc((100vw - 32px) / 3));
    grid-template-rows: repeat(3, calc((100vw - 32px) / 3));
    margin: 64px 16px;
  }

  .box {
    background-size: 382px 382px;
  }
}
